{% extends 'base.html' %}

{% block title%}
{{ article.unit }}
{% endblock %}

{% block body%}
<div class="container mt-5">
    <h2>{{ article.unit }}</h2>
    <div class="alert alert-info">
        <h2>{{ article.unit }}</h2>
        <h2>{{ article.model }}</h2>
        <h2>{{ article.who }}</h2>
        <p><b>Дата:{{article.date.date()}}</b></p>
        <a href="/application/{{ article.id }}/delete" class="btn btn-danger">Удалить</a>
        <a href="/application/{{ article.id }}/update" class="btn btn-success">Редактировать</a>
    </div>
</div>
{% endblock %}